<br>
<br>
<br>
<div class="listing">
  <h2><%#= link_to listing.description, listing %></h2>
  <div class="details">

    <% if listing.category %>
      | Category: <%= listing.category.name %>
    <% end %>
  </div>
</div>


<!-- tina stuff -->
<div class="listing">
  <h2><%#= link_to listing.description, listing %></h2>
  <div class="details">
